*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section {
    border: 3px solid black;
    width: 200px;
    height: 200px;
    text-align: center;
}

.box {
    border: 3px solid skyblue;
    width: 200px;
    height: 200px;
    text-align: center;
    margin-top: 5px;
}

.odd {
    color: red;
    font-family: cursive;
}